# requirements.txt allows pip or other tools to install the dependent packages
# Not strictly needed for pip and setuptools with pyproject.toml
# data manipulation and visualisation
pandas
matplotlib
# linting and static analysis
pylint
flake8
# testing
pytest
pytest-cov